@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&display=swap');

body {
  background-color: #F9F9F9;
  color: #191F2C;
  font-family: 'Athiti', sans-serif;
}

.container{
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .container{
    width: 80vw;
  }
}
  
