@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&display=swap');

body {
  background-color: #F9F9F9;
  color: #191F2C;
  font-family: 'Athiti', sans-serif;
}

.container{
  padding: 0 700px;
}
