.container{
  border-radius: 30px;
  overflow: hidden;
  background-color: #ffffff;
}

.qrPayment{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #113566;
}

.desCon{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 40px;
}

.desAmount{
  font-size: 23px;
  font-weight: bold;
}

.input{
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  color: #000;
}

.link{
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #113566;
  text-align: center;
}

.link:hover{
  background-color: #fff;
  color: #113566;
  border: 1px solid #113566;
}